html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  /* color: inherit; */
  /* text-decoration: none; */
}

* {
  box-sizing: border-box;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.nav-container div {
  margin: 0 7px;
}

.roles-container {
  text-align:center;
  margin-bottom: 20px;
}

.container {
  padding: 20px;
  text-align:center;
}

.blogs-container div {
  display:flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.blog-container {
  text-align:left;
  padding: 6px;
  background-color: gray;
  color: white;
  border-radius: 7px;
  margin: 10px 0px;
  max-width: 700px;
  width: 100%;
}

.blog-container p {
  margin:3px;
}

.text-input {
  min-width: 350px;
  min-height: 30px;
  padding: 4px;
  margin: 4px 0;
}

.button {
  width: 350px;
  height: 30px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}